{% load static %}
<link rel = "stylesheet" type = "text/css" href = "{% static 'my_site/almirah_style.css' %}">
<script src = "{% static 'my_site/menu_script.js' %}" defer></script>

{% block content %}
    <div class = "branding_heading">RENTIT0</div>

    <div class = "content">
        <form method = "POST" action = "">
            {% csrf_token %} 
            {{ form.non_field_errors }}

            <div class = "material">
                <label for = "form.material.id_for_label">Material:</label>
                {{ form.material }}
                {{ form.material.errors }}
            </div>

            <div class = "drawers">
                <label for = "form.drawers.id_for_label">No.of drawers:</label>
                {{ form.drawers }}
                {{ form.drawers.errors }}
            </div>

            <div class = "color">
                <label for = "form.color.id_for_label">Color:</label>
                {{ form.color }}
                {{ form.color.errors }}
            </div>

            <div class = "rent">
                <label for = "form.rent.id_for_label">Rent:</label>
                {{ form.rent }}
                {{ form.rent.errors }}
            </div>

            <input class = "submit_button" type="submit" value = "Submit">
        </form>
    </div>

    <a onclick="openNav()">
        <div class = "menu"></div>
        <div class = "menu"></div>
        <div class = "menu"></div>
    </a>

    <div id = "side_menu" class = "side_menu">
        <a class = "close_menu" onclick="closeNav()">&times</a>
        <a href = "#">Profile</a>
        <a href = "{% url 'user_home' %}">Logout</a>
        <a class = "home" href = "{% url 'user_home' %}">Home</a>
        <a class = "contact" href = "{% url 'contact' %}">Contact Us</a>
    </div>
{% endblock %}