{% load static %}
<link rel = "stylesheet" type="text/css" href = "{% static 'my_site/mail_verify_style.css' %}">
<script src = "{% static 'my_site/menu_script.js' %}" defer></script>

{% block content %}
    <form action="" method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}

        <div class = "otp">
            <label for = "{{ form.otp.id_for_label }}">OTP:</label>
            {{ form.otp }}
            {{ form.otp.errors }}
        </div>

        <input class = "submit_button" type="submit" value="Submit">
    </form>

    <a onclick="openNav()">
        <div class = "menu"></div>
        <div class = "menu"></div>
        <div class = "menu"></div>
    </a>

    <div id = "side_menu" class = "side_menu">
        <a class = "close_menu" onclick="closeNav()">&times</a>
        <h2 class = "menu_head">Users:</h3>
        <a href = "{% url 'user_login' %}">Login</a>
        <a href = "{% url 'user_sign_up' %}">SignUp</a>
        <h2 class = "menu_head">Sellers:</h3>
        <a href = "{% url 'seller_login' %}">Login</a>
        <a href = "{% url 'seller_sign_up' %}">SignUp</a>
        <a class = "home" href = "{% url 'user_home' %}">Home</a>
        <a class = "contact" href = "{% url 'contact' %}">Contact Us</a>
    </div>
{% endblock %}