html {
    background-color: mintcream;
    overflow: hidden;
    width: 800px;
}

.branding_heading {
    font-family:cursive;
    font-size: 22px;
    font-weight:bold;
    background-color:navajowhite;
    position: relative;
    top: -8px;
    left: -8px;
    border: 2px solid red;
    height: 23px;
    width: 1362px;
}

.menu {
    position: relative;
    top:-33px;
    left: 1300px;
    width: 40px;
    height: 7px;
    margin-bottom: 2px;
    background-color: black;
}

.side_menu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.side_menu a {
    padding: 15px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.side_menu a:hover {
    color: #f1f1f1;
}

.side_menu .close_menu {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.menu_head {
    color: white;
}

.home {
    padding: 15px;
    position: relative;
    top: 30px;
}

.contact {
    padding: 15px;
    position: relative;
    top: 20px;
}

.img {
    height: 300px;
    width: 1350px;
}

.add_pro {
    background-color: lightblue;
    color: black;
    font-size: 30px;
    position: relative;
    top: 80px;
    left: 350px;
}

.add_pro:hover {
    background-color: lightyellow;
    color: maroon;
}

.my_pro {
    background-color: lightblue;
    color: black;
    font-size: 30px;
    position: relative;
    top: 80px;
    left: 650px;
}

.my_pro:hover {
    background-color: lightyellow;
    color: maroon;
}