input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

html {
    background-color: mintcream;
    width: 800px;
}

.branding_heading {
    font-family:cursive;
    font-size: 22px;
    font-weight:bold;
    background-color:navajowhite;
    position: relative;
    top: -8px;
    left: -8px;
    border: 2px solid red;
    height: 23px;
    width: 1362px;
}

.content {
    box-shadow: 2px 2px grey;
    background-color: white;
    border-radius: 15px;
    height: 300px;
    width: 270px;
    border: 2px solid rgb(159, 161, 163);
    position: relative;
    left: 495px;
    top: 10px;
}

.branding_name {
    width: 200px;
    border: 3px solid;
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: relative;
    top: 10px;
    left: 530px;
    font-size: 30px;
}

.signup_link {
    font-size: 30px;
    position: relative;
    left: 30px;
}

.name_label {
    font-size: 20px;
    position: relative;
    left: 30px;
    top: -10px;
}

.pass_label {
    font-size: 20px;
    position: relative;
    left: 30px;
}

.login_button {
    width: 80px;
    background-color: wheat;
    position: relative;
    top: 20px;
    left: 33px;
}

.menu {
    position: relative;
    top: -423px;
    left: 1300px;
    width: 40px;
    height: 7px;
    margin-bottom: 2px;
    background-color: black;
}

.side_menu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.side_menu a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.side_menu a:hover {
    color: #f1f1f1;
}

.side_menu .close_menu {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.menu_head {
    color: white;
}

.contact {
    position: relative;
    top: 50px;
}

.home {
    position: relative;
    top: 50px;
}

#id_username {
    width: 190px;
    position: relative;
}   

#id_password {
    width: 190px;
    position: relative;
}